body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/img/bg/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#top-content {}


/* begin header */

.top-content__header {
    height: 88px;
    padding-top: 40px;
}

.header__logo {
    opacity: 1;
    transition: 0.3s all linear;
    padding-left: 40px;
    width: 80%;
}

.header__logo:hover {
    transition: 0.3s all linear;
    opacity: 0.6;
}

.header__list {
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header__item {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}

.header__item:hover a {
    transition: 0.2s all linear;
    opacity: 0.4;
}

.header__item a {
    text-decoration: none;
    transition: 0.2s all linear;
    color: #fff;
}

.header__item a span {
    opacity: 1;
}


/* end header */


/* Begin thumbnail */

.thumbnail {
    position: relative;
    top: 80px;
}

.thumbnail__list {
    margin: 0 auto;
    display: flex;
}

.thumbnail__item {}

.thumbnail__item a {
    text-decoration: none;
}

.thumbnail__item a img {
    width: 100%;
}

.thumbnail__item-1 {}

.thumbnail__item-2 {
    position: relative;
    float: right;
}

.thumbnail__item-1 {
    position: relative;
}

.thumbnail__item-1::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 2px 2px;
    position: absolute;
    left: 0;
    bottom: -6px;
    /* transition: all .2s linear; */
    animation-name: bottomleft;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.thumbnail__item-1::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px 2px 0 0;
    position: absolute;
    left: 0;
    top: -8px;
    transform: rotate(-90deg);
    /* transition: all .2s linear; */
    animation-name: topleft;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


/* .thumbnail__item-1:hover.thumbnail__item-1::before {
    top: -20px;
    left: -10px;
    transition: all .2s linear;
}

.thumbnail__item-1:hover.thumbnail__item-1::after {
    bottom: -20px;
    left: -10px;
    transition: all .2s linear;
} */

.thumbnail__item-2::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 2px 2px;
    position: absolute;
    right: 0;
    bottom: -6px;
    /* transition: all .2s linear; */
    transform: rotate(-90deg);
    animation-name: bottomright;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.thumbnail__item-2::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px 2px 0 0;
    position: absolute;
    right: 0;
    top: -10px;
    /* transition: all .2s linear; */
    animation-name: topright;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


/* End thumbnail */


/* begin about */

.top-about {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-about>a {
    text-decoration: none;
    background-color: #82B24D;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    width: 150px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.top-about a:hover {
    transition: 0.3s all linear;
    opacity: 0.5;
}

.about__hwbt {
    transition: 0.2s all linear;
}

.about__webbt {
    transition: 0.2s all linear;
}

.go-back {
    color: #fff;
}

.go-back::before {
    border-color: #c16b00;
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: "";
    display: block;
    height: 6px;
    left: 0px;
    position: absolute;
    width: 6px;
    /* These two lines vertically centre the point of the arrow */
    margin-top: -3px;
    top: 50%;
    /* The arrow sprints to the left when the link is hovered */
    /* transition: left 0.1s; */
    transform: rotate(-45deg);
    -webkit-transform: rotate( -45deg);
}


/* end about */


/* End top */


/*  */


/* animate */

@keyframes bottomright {
    to {
        border-color: rebeccapurple;
        bottom: -20px;
        right: -10px;
    }
}

@keyframes topright {
    to {
        border-color: rebeccapurple;
        top: -20px;
        right: -10px;
    }
}

@keyframes topleft {
    to {
        border-color: rebeccapurple;
        top: -20px;
        left: -10px;
    }
}

@keyframes bottomleft {
    to {
        border-color: rebeccapurple;
        bottom: -20px;
        left: -10px;
    }
}