/* font */

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/font/open_sans/opensans.ttf") format("truetype");
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/font/lora/lora.ttf") format("truetype");
}


/* Clear fix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* main */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0.05em;
}

body {
    font-family: "Lora", "Open Sans", "sans-serif";
}